.popular-courses {
  padding: 15px 20px;
  text-align: center;
}

.section-header h1 {
  font-size: 50px;
  font-weight: 700;
  color: #111827;
  margin-bottom: -9px;
}

.section-header p {
  color: #6b7280;
  max-width: 700px;
  margin-inline: auto;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 60px;
}

.course-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.course-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 10px;
  width: 330px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.course-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.course-content {
  padding: 20px;
}

.course-content h3 {
  margin: 0 0 8px;
}

.course-content p {
  color: #666;
  font-size: 0.95rem;
}

.course-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #333;
}

.course-meta svg {
  margin-right: 5px;
  color: #4f46e5;
}

.course-rating {
  margin-top: 15px;
  font-size: 0.95rem;
  color: #333;
}

.course-rating .star {
  color: #facc15;
  margin-left: 3px;
}
