.features {
  padding: 30px 20px;
  background: #fff;
  text-align: center;
}

.features-heading h1 {
  font-size: 50px;
  font-weight: 700;
  color: #111827;
  margin-bottom: -9px;
}

.features-heading p {
  color: #6b7280;
  max-width: 700px;
  margin-inline: auto;
  font-size: 20px;
  line-height: 32px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 60px;
}

.feature-card {
  background: #f5eafe; /* light purple */
  border-radius: 20px;
  padding: 30px 30px;
  position: relative;
  text-align: left;
  overflow: hidden;
  height: 300px;
}

.feature-card h3 {
  font-size: 25px;
  font-weight: 600;
  color: #111827;
  margin-top: -0px;
}

.feature-tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.feature-tag {
  background-color: rgba(118, 76, 255, 0.991);
  color: #fff;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 0.85rem;
  display: inline-block;
  width: fit-content;
}

.feature-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 280px;
  object-fit: contain;
}
